In [2]:
#q1)
#A database is a structured collection of data. 
#SQL databases are based on the relational model, have rigid schemas, and prioritize strong consistency. 
#NoSQL databases support flexible schemas, prioritize scalability and performance, and sacrifice strict consistency for availability and partition tolerance.

In [3]:
#q2)
#DDL (Data Definition Language) is a subset of SQL used to define and manage database structures.
#CREATE statement is used to create new objects like tables, indexes, views, or procedures. For example: CREATE TABLE Customers (ID INT, Name VARCHAR(50), Email VARCHAR(100)); creates a table named "Customers" with columns for ID, name, and email.
#DROP statement is used to delete or remove existing objects. For example: DROP TABLE IF EXISTS Customers; drops the table "Customers" if it exists.
#ALTER statement is used to modify the structure of an existing object. For example: ALTER TABLE Customers ADD Address VARCHAR(200); adds a new column "Address" to the "Customers" table.
#TRUNCATE statement is used to delete all data from a table while keeping its structure intact. For example: TRUNCATE TABLE Customers; deletes all data from the "Customers" table.

In [4]:
#q3)
#DML (Data Manipulation Language) is a subset of SQL used to manipulate and retrieve data within a database.
#INSERT statement is used to add new rows of data into a table.
#Example: INSERT INTO Customers (ID, Name, Email) VALUES (1, 'John Doe', 'john@example.com');
#UPDATE statement is used to modify existing data within a table.
#Example: UPDATE Customers SET Email = 'johndoe@example.com' WHERE ID = 1;
#DELETE statement is used to remove rows of data from a table.
#Example: DELETE FROM Customers WHERE ID = 1.

In [5]:
#q4)
#DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.
#SELECT statement is used to retrieve specific columns or data from one or more tables.
#Example: SELECT Name, Email FROM Customers;
#Additional clauses can be used with SELECT:
#WHERE filters the rows based on specific conditions.
#ORDER BY sorts the retrieved data based on one or more columns.
#LIMIT limits the number of rows returned by the SELECT statement.
#The SELECT statement with its clauses allows users to query and retrieve specific data from a database, apply filtering conditions, sort the results, and limit the number of rows returned.

In [6]:
#q5)
#Primary Key: A primary key is a unique identifier for a row in a database table, ensuring its uniqueness and providing a way to uniquely identify each record.
#Foreign Key: A foreign key is a field in one table that refers to the primary key in another table, establishing a relationship between the two tables and enforcing referential integrity.

In [9]:
#q6)
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM TEST.TEST_TABLE");